In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine

In [2]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-03-07 16:18:15--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.97.134, 52.217.142.112, 52.216.76.126, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.97.134|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2023-03-07 16:18:15 (52.0 MB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [6]:
engine = create_engine(f'postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [7]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [8]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265